@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-slate-100;
}

.glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.5)] transition-all duration-700 hover:scale-[1.01];
}

.glass-header {
    @apply bg-white/5 backdrop-blur-lg border-b border-white/5;
}

